@import url('https://fonts.googleapis.com/css?family=Coustard|Prociono');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Yantramanav',sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-image: url("../images/background.jpg");
  height: 100%;
  width: 100%;
}
.row{
  margin: 0px 15px 0px 15px;
}
.logo{
  width: auto;
  height: 25px;
  cursor: auto;
}

#entry{
  font-size: 17px;
  width: 50%;
  height: 41px;
  text-indent: 10px;
  padding: 0;
  color: black;
  vertical-align: middle;
  cursor: pointer;
}
p {
  color: black;
  font-weight: bold;
  line-height: 1.15;
  display: inline;
}
.listTown .li{
  width: 33.333%;
  display: inline-block;
  text-overflow: ellipsis;
}
.flex{
  position: relative;
  align-content: center;
  align-items: center;
  list-style-type: none;
}
i{
  color: black;
  width: 12px;
  height: 12px;
}
.hidd{
  display: none;
}
.block{
  display: block;
margin-left: 10%;
}
.pClass{
  font-size: 2rem;
  display: inline;

}
.img-rounded{
  background-color: lightblue;
  margin-left: 20px;
  width:60;
  height:60;
}
h4{
  font-size: 2rem;
}
input, button{
  /* color: black; */
}

.navbar-brand {
  font-family: 'Prociono';
  width: 20%;
}
.description {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.description .main {
  font-size: 5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(blue, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description .description-paragraph {
  font-size: 1.8rem;
}
.container {
  width: 100rem;
  height: 50rem;
  border: 0.3rem solid darkblue;
  position: relative;
  margin: 0 auto;
  z-index: 1;
/* background-color: black; */
}
h2{
  color: black;
}
#gMain {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-size: cover;
  z-index: -1;
}
.nav_container{
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-size: cover;
  background-color: black;
}
.navbar-header{
  height: 100%;
  width: 100%;
}
.collapsed{
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-size: cover;
  background-color: darkblue;
  color: whitesmoke;
}
.img_nav{
  width: auto;
  height: 100%;
}
#temp_main{
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .container-gifs {
    width: 50rem;
  }
}
.listing {
  padding: 0 0 5px;
  position: relative;
  width: 559px;
  color: whitesmoke;
}
#subtitle {
  width: 100%;
  color: black;
  margin-top:10px;
}
#subtitle > p {
    font-weight: bold;
  font-size: 3rem;
}

.info {
  float: left;
  margin: 10px 15px 5px;
  min-width: 500px;
  clear: both;
  color: black;
  margin: 15px 44px 15px 0;
  overflow: hidden;
}
#btnReset{
  float: right;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 1.5rem;
}

h1 {
  color: white;
  margin: auto;
  text-align: center
}

.logo > i {
  color: white;
  font-size: 3rem;
  padding: 5px;
}

.navbar {
  padding-top: 10px;
}

header {
  opacity:0.6;
}

.intro > p {
  font-weight: normal;
  font-size: 1.25rem;
}

.date {
  margin-top: 20px;
}

.date > p {
  font-size: 3rem;
}

.temp_search {
  margin-top: 30px;
}

.temp_search > #submit {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 1.5rem;
}

.temp_search > input {
  width: 50%;
}

.widget {
  margin-top: 30px;
}

.city_list {
  margin-top: 30px;
}

a {
  color: black;
  cursor: pointer;
}

.widget {
margin-bottom: 20px;
}